div.navbar {
    width: 90%;
    text-align: center;
    background-color: lightgray;
    box-shadow: 10px 10px black;
    padding: 5px;
    position: static;
    display: block;
    margin: auto;
    margin-bottom: 13px;
}
div.page {
    width: 75%;
    background-color: white;
    box-shadow: 10px 10px black;
    padding: 5px;
    display: block;
    margin: auto;
    margin-bottom: 13px;
}
html {
    background-color: gray;
}
code {
    background-color: black;
    color: white;
}
code.block {
    display: block;
    background-color: black;
    color: white;
    white-space: pre-line;
}