@font-face {
    font-family: Figtree;
    src: url("/res/Figtree-VariableFont_wght.ttf");
}

div.center {
    margin: auto;
    display: block;
    width: 50%;
}
html {
    background-color: #e8a1ff;
    font-family: Figtree;
}

span.fraction {
    font-feature-settings: "frac";
}

a:visited{
    color: darkblue;
}

a:link {
    font-weight: 600;
}

div#messagebox {
    background-color: whitesmoke;
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px;
    border: solid black 1px;
    box-shadow: 5px 5px 5px;
    visibility: hidden
}

div#messagebox span {
    display: block;
}

hr {
    border: 1px black solid;
}

