.scroll {
    background-color: gray;
}
.scroll p{
    animation: scroll 10s infinite linear;
    color: white;
}

@keyframes scroll {
    from {
        transform: translate(-50%);
    }
    to {
        transform: translate(110%);
    }
}
